body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#020617;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
font-size: 30px;
}

.btn{
background:#38bdf8;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
color:black;
font-weight:bold;
}

section {
	text-align: center;
	font-size: 20px;
	padding: 60px;
}
.skills{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.skill-box {
	background: #1e293b;
	padding: 28px 17px;
	border-radius: 35px;
}
.project{
background:#1e293b;
margin:20px auto;
padding:20px;
width:300px;
border-radius:10px;
}

footer{
background:#020617;
padding:20px;
text-align:center;
}

html{
scroll-behavior:smooth;
}